<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyExampleSuite">
    <!--Written to run All Activities together-->
   <!-- <test name="TestExample" parallel="classes" thread-count="3">
        <parameter name="username" value="admin"/>
        <parameter name="password" value="password"/>
        <classes>
            <class name="TestNG_Activities.Activity1"/>
            <class name="TestNG_Activities.Activity2"/>
            <class name="TestNG_Activities.Activity3"/>
            <class name="TestNG_Activities.DemoOne"/>
            <class name="TestNG_Activities.DemoTwo"/>
            <class name="TestNG_Activities.Activity5"/>
            <class name="TestNG_Activities.Activity6"/>
            <class name="TestNG_Activities.Activity7"/>
        </classes>
    </test>-->
    <!--<test name="TestExample1">
        <groups>
        <run>
            <include name="HeaderTests" />
        </run>
        </groups>
        <classes>
            <class name="TestNG_Activities.Activity5"/>
        </classes>
    </test>
   <test name="TestExample2">
        <groups>
            <run>
                <include name="ButtonTests" />
            </run>
        </groups>
        <classes>
            <class name="TestNG_Activities.Activity5"/>
        </classes>
    </test>
    <test name="TestExample3">
        <groups>
            <run>
                <exclude name="HeaderTests" />
            </run>
        </groups>
        <classes>
            <class name="TestNG_Activities.Activity5"/>
        </classes>
    </test>-->
    <!--Written to run Activity with Parameter-->
    <!--<test name="TestExampleParameters">
        <parameter name="username" value="admin"/>
        <parameter name="password" value="password"/>
        <classes>
            <class name="TestNG_Activities.Activity6"/>
        </classes>
    </test>-->
    <!--Written to run Activity with Data Provider-->
  <!--  <test name="TestExampleDataProvider">
        <classes>
            <class name="TestNG_Activities.Activity7"/>
        </classes>
    </test>-->
    <!--Written to run Activity with Alerts and Logging-->
      <test name="TestExampleLogger">
          <classes>
              <class name="TestNG_Activities.Activity9"/>
          </classes>
      </test>
</suite>